<div class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="footer-col col-7 col-sm-7 col-md-4 col-lg-3 col-xl-3 mrg pd">
                <div class="footer-mrg-left">
                    <a class="footer-link" href="{{ site.data.links.chat-with-us }}">
                        <span class="link-icon slack-link"></span>Chat with us</a>
                    <a class="footer-link" href="{{ site.data.links.write-an-email }}">
                        <span class="link-icon email-link"></span>Write us an email</a>
                    <a class="footer-link" href="{{ site.data.links.read-our-stories }}">
                        <span class="link-icon m-link"></span>Read our stories</a>
                </div>
            </div>
            <div class="footer-col col-7 col-sm-7 col-md-5 col-lg-4 col-xl-3 mrg-2">
                <div class="footer-mrg-left-adapt">
                    <a class="footer-link" href="{{ site.data.links.connect-with-us }}">
                        <span class="link-icon facebook-link"></span>Connect with us</a>
                    <a class="footer-link" href="{{ site.data.links.tweet-us }}">
                        <span class="link-icon twitter-link"></span>Tweet us. We’re listening</a>
                    <a class="footer-link" href="{{ site.data.links.watch-us }}">
                        <span class="link-icon youtube-link"></span>Watch what we’re up to</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 mrg-3">
                <span class="footer-copyright">Code For All, all rights reserved. Content licensed
                    <a class="footer-link footer-link--inline" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY SA 4.0</a>
                </span>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="footer-useless"></div>
            </div>
        </div>
    </div>
</div>
{% include scripts.html %}

