<div class="involved">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="involved-h2">Do you want to work with global community?</h2>
                <p class="involved-p">We would love to talk to you and bring you to the Code for All.</p>
            </div>
            <div class="col-12 col-lg">
                <div class="row justify-content-center">
                    <div class="col-9 col-sm">
                        <a class="involved-button prt-or prt-top" href="{{ site.data.links.chat-with-us }}">
                                <span class="involved-link-text">
                                    <span class="involved-slack-icon"></span>Chat with us
                                </span>
                        </a>
                    </div>
                    <div class="col-9 col-sm">
                        <a class="involved-button prt-top" href="{{ site.data.links.write-an-email }}">
                                <span class="involved-link-text">
                                    <span class="involved-email-icon"></span> Write us an email
                                </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>