  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      {% if page.title %}
      <title>{{ page.title }} | Code for All</title>
      {% else %}
      <title>Code for All</title>
      {% endif %}
    <meta name="description" content="An international network of organizations who believe that digital technology opens new channels for citizens to more meaningfully engage in the public sphere and have a positive impact on their communities.">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400i,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v20181107' | relative_url }}">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="icon" href="{{ '/assets/images/favicons/favicon-16x16.png' | relative_url }}" sizes="16x16">
    <link rel="icon" href="{{ '/assets/images/favicons/favicon-32x32.png' | relative_url }}" sizes="32x32">
    <link rel="icon" href="{{ '/assets/images/favicons/favicon-96x96.png' | relative_url }}" sizes="96x96">
  </head>
