<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}
  <body>
  {% include header.html %}
  <div class="contact-banner banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-7">
                <h1 class="banner-text cnt-mrg">Say hello!</h1>
               
            </div>
            <div class="w-100"></div>
            <div class="col-12 col-sm-8 col-md-7">
                    <h3 class="banner-text-cnt">Get in touch with us, we would love to hear from you. Share your story, connect to other activists or
                            just reach out to say hi. Meet and talk to others on Slack and offline events.</h3>
            </div>
            <div class="w-100"></div>
            <div class="col-7 col-sm-5 col-lg-3">
                <a class="involeved-button mrg-correct" href="{{ site.data.links.chat-with-us }}">
                    <span class="involved-link-text">
                        <span class="involved-slack-icon"></span>Chat with us
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

    <div class="involeved inv-no-shadow">
        <div class="container">
            <div class="row">
                <h1 class="contact-inv-h1">How to Contribute</h1>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="contact-h2 inv-left">Become a partner!</h2>
                    <p class="contact-p inv-left">If you are an individual or work with a volunteer group or within an institution that’s creating new
                        civic tech, we would love to talk to you and bring you to Code-for-All community.</p>
                </div>
                <div class="col-12 col-lg al-cntr">
                    <div class="row justify-content-center">
                        <div class="col-9 col-sm ">
                            <a class="involeved-button or btn-mrg-top" href="{{ site.data.links.chat-with-us }}">
                                <span class="involved-link-text">
                                    <span class="involved-slack-icon"></span>Chat with us
                                </span>
                            </a>
                        </div>
                        <div class="col-9 col-sm">
                            <a class="involeved-button btn-mrg-top" href="{{ site.data.links.write-an-email }}">
                                <span class="involved-link-text">
                                    <span class="involved-email-icon"></span> Write us an email
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="involeved inv-no-shadow">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-9">
                    <h2 class="contact-h2 inv-left inv-contact">Have time? Want to help? Collaborate on projects!</h2>
                    <p class="contact-p inv-left">Check out cool civic tech projects worldwide that are looking for a helping hand.</p>
                </div>
                <div class="col-9 col-sm-8 col-md-4 col-lg-3 ">
                    <a class="involeved-button btn-gthb-contact" href="{{ site.data.links.see-issues }}">
                        <span class="involved-link-text text-gthb-wide ">
                            <span class="involved-github-icon"></span> See the list of issues
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="involeved ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-9">
                    <h2 class="contact-h2 inv-left inv-contact">Join local organization!</h2>
                    <p class="contact-p inv-left pd-bot">Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum. Duis
                        mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                </div>
                <div class="col-9 col-sm-8 col-md-4 col-lg-3">
                    <a class="involeved-button btn-gthb-contact last-button" href="#">
                        <span class="involved-link-text text-involved search-small-text">
                            <span class="involved-search-icon"></span> Find local organization
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

  {% include footer.html %}
  </body>
</html>
