<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}

<body>
    {% include header.html %}
    <div class="map-info banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-sm-4 offset-sm-8 offset-0 map-absol map-absol">
                    <h1 class="map-h1-large">Our Partners</h1>
                    <h3 class="map-h3">Code for All is a collaborative network, made up of organisations from all over the world.</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="map" class="banner"></div>

    <div class="partners-block">
        <div class="governing">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <h1 class="governing-text">Governing Partners</h1>
                        <h2 class="governing-text-small">The ones who make decisions about the network’s strategy, activities and growth.</h2>
                    </div>
                    <div class="w-100">
                    </div>
                         {% for item in site.data.governing-partners %}                         
                            <div id="{{ item.id }}" class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">		
                                <a href="{{ item.website }}">
                                    <div class="gover-partner">
                                        <div class="part-logo-small" style="background: url('/assets/images/partner logos/{{item.logo}}') no-repeat center; background-position: 50% 50%;">
                                            <!--<p class="gover-partner-info-3">{{ item.properties.name }}</p>-->
                                        </div>
                                    </div>
                                </a>
                            </div>                        
                        {% endfor %}
                    <div class="last-prj-item"></div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="partners-block" style="padding-bottom: 60px">
        <div class="affiliate">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-8">
                        <h1 class="affiliate-text">Affiliate Partners</h1>
                        <h2 class="governing-text-small">Affiliate partners may include, for example, groups of volunteers we call Brigades who work toward goals
                            aligned with Code for All mission.</h2>
                        <h2 class="governing-text-small">They can be new or existing subnational or local organizations who may not necessarily have a national
                            affiliate, but aspire to one day become a governing partner of the Code for All network.</h2>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                        <div class="gover-partner mrg-bott">
                            <div class="part-logo sierra"></div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                        <div class="gover-partner mrg-bott">
                            <div class="part-logo sierra"></div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                        <div class="gover-partner mrg-bott">
                            <div class="part-logo sierra"></div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-md-3 col-lg-2">
                        <div class="gover-partner mrg-bott">
                            <div class="part-logo sierra"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="involeved">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="involeved-h2">You want to contribute and join us?</h2>
                    <p class="involeved-p">If you are an individual or work with a volunteer group or within an institution that’s creating new
                        civic tech, we would love to talk to you and bring you to Code-for-All community.</p>
                </div>
                <div class="col-12 col-lg">
                    <div class="row justify-content-center">
                        <div class="col-9 col-sm">
                            <a class="involeved-button prt-or btn-mrg-top prt-top" href="{{ site.data.links.chat-with-us }}">
                                <span class="involved-link-text">
                                    <span class="involved-slack-icon"></span>Chat with us
                                </span>
                            </a>
                        </div>
                        <div class="col-9 col-sm">
                            <a class="involeved-button btn-mrg-top prt-top " href="{{ site.data.links.write-an-email }}">
                                <span class="involved-link-text">
                                    <span class="involved-email-icon"></span> Write us an email
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>
