<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}
  <body>
  {% include header.html %}
    <section class="section">
      <div class="container">
      <article class="post">
        <div class="entry">
          <br/><br/>
          <h1>{{ page.title }}</h1>
          <br/>
          {{ content }}
        </div>

        <div class="date">
          Written on {{ page.date | date: "%B %e, %Y" }}
          <br/><br/>
        </div>
      </article>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
