    <!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}

<body>
    {% include header.html %}
    <div class="projects-banner banner">
        <div class="container">
            <div class="row">
                <div class="col ">
                    <h1 class="banner-text  prg-mrg">Projects</h1>
                    <h3 class="banner-text-sm">Here are some of the things we've created together from around the world.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="project-items">
        <div class="container">
            <div class="row justify-content-center">
                {% for p in site.data.projects %}

                <div class="col-md-12 col-lg-6">
                    <div class="projects-item h-100"><a href="{{ p.link }}">
                        <div class="projects-item-img" style="background-image: url({{ p.image }})"></div>
                        <h2 class="projects-item-h2">{{ p.name }}</h2>
                        <p class="projects-item-p">{{ p.description }}</p>
                        <div class="row">
                            <div class="col-12 col-sm-6 order-sm-1 order-2">
                                <div class="avatar" {% if p.contact_image %}style="background-image: url({{ p.contact_image }})"{% endif %}></div>
                                <span class="item-info-p-medium">{{ p.contact_name }}</span>
                                <span class="item-info-p-small">{{ p.contact_email }}</span>
                            </div>
                            <div class="col-12 col-sm-6 order-sm-2 order-1">
                                <div class="tags">
                                    {% for tag in p.tags %}
                                    <span class="project-tag">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                                <div class="address-block">
                                    {% for location in p.locations %}
                                    <span class="address">{{ location }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </a></div>
                </div>
                {% endfor %}

                <div class="last-prj-item"></div>
            </div>
        </div>
    </div>
    <div class="involved">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-8">
                    <h2 class="involved-h2 inv-left ">Have time? Want to help? Collaborate on projects!</h2>
                    <p class="involved-p inv-left">Check out cool civic tech projects worldwide that are looking for a helping hand.</p>
                </div>
                <div class="col-10 col-sm-8 col-md-4 col-lg-3 ">
                    <a class="involved-button btn-gthb" href="{{ site.data.links.see-issues }}">
                        <span class="involved-link-text text-gthb">
                            <span class="involved-github-icon"></span> See the list of issues
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}
</body>

</html>